@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply outline-none border-none py-1 selection:bg-gray-900 selection:text-gray-100
    }
    .smooth{
        @apply transition ease-in-out duration-200
    }
    .btn {
        @apply border cursor-pointer hover:bg-gray-900 hover:text-gray-100 border-black rounded-md
    }
}

input[type='text'], input[type='password'], input[type='email'],input[type='number'], textarea {
    @apply w-full border my-1 py-2 px-3 rounded-md text-black;
}

textarea {
    height: 140px;
}

.book {
    width: 450px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 0.5px solid #dbd9d9;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}

button {
    @apply bg-gray-300
}

button.primary {
    background-color: #F53850;
    @apply bg-primary p-2 w-full text-white rounded-md
}

.about {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.about img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #fff;
  }
  
  ::-webkit-scrollbar {
    background-color: black;
    width: 0.4vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #F53850;
  }
  
  .show {
    opacity: 1 !important;
    visibility: visible !important;
    right: 0 !important;
  }

  .head:hover {
    color: #F53850
  }